@using modelo_core_mvc.Models
@{
    var nomeUsuario = Usuario.NomeExibicao;
}

@if(!string.IsNullOrWhiteSpace(nomeUsuario))
{
    @nomeUsuario
}
else
{
   <a asp-area="" asp-controller="Home" asp-action="Entrar">Entrar</a>
}