<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Home" asp-action="Contato">Contato</a></li>
    </ol>
</div>

<section>
    <h1>@ViewData["Message"]</h1>
    <h2>Documentação</h2>
    Consulte sempre a <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Wiki_Arquitetura" target="_blank">Wiki de Arquitetura e Padrões do DTI</a> para obter informações sobre o ambiente tecnológico da Sefaz.

    <h2>Suporte</h2>
    Para solicitar orientações e suporte:
    <ul>
        <li>
            ​​Abra um chamado no <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Suporte_DevOps" target="_blank">Suporte_Devops</a>
        </li>
        <li>
            Envie um email a dti_cia_nsd@fazenda.sp.gov.br
        </li>
    </ul>

</section>