@using Microsoft.AspNetCore.Authentication
@{
    var nomeExibicao = "Não autenticado";
    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];
    }
}

@{
    ViewData["Title"] = "Sefaz-SP";
}
<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Home" asp-action="Sair">Sair</a></li>
    </ol>
</div>
<section>
    <h1>Usuário autenticado:</h1>
    <p></p>
    <h2>@nomeExibicao </h2>
</section>