@{
    ViewData["Title"] = "Sefaz-SP";
}
<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    </ol>
</div>
<section>
    <h1>Modelo Sefaz de aplicação Asp Net Core com razor </h1>
    <p>Modelo de aplicação Asp NET Core e frontend Razor com uso dos padrões estabelecidos no Manual de Identidade do Governo do Estado de São Paulo.</p>
    Esse template inclui:
    <ul>
        <li>Folha de estilos Sefaz.css</li>
        <li>Imagens</li>
        <li>Menus:</li>
        <ul>
            <li>Vertical - para acesso a recursos da aplicação, links internos e externos</li>
            <li>Popup - para informações e configuração da aplicação</li>
        </ul>
        <li>Cabeçalho e rodapé nos padrões da Sefaz</li>
        <li>Autenticação com uso do Sefaz Identity</li>
        <li>Botão de sair limpando cookies</li>
        @*<li>Breadcrumb - barra hierárquica de links da página aberta</li>*@
    </ul>

    Próximos passos:
    <ul>
        <li>Aprimorar a responsividade, em especial para dispositivos móveis.</li>
        <li>Incluir Breadcrumb (barra hierárquica de links da página aberta) centralizado.</li>
    </ul>

</section>