@using modelo_core_mvc.projetos;
@model modelo_core_mvc.projetos.Projetos

<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Projetos" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Projetos" asp-action="Alterar">Editar</a></li>
    </ol>
</div>

@{
    ViewData["Title"] = "Projeto";
}

<h1>@ViewData["Message"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Alterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="cd_projeto" hidden/>
            <div class="form-group">
                <label asp-for="nm_projeto" class="control-label"></label>
                <input asp-for="nm_projeto" maxlength="20" required class="form-control" />
                <span asp-validation-for="nm_projeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ds_projeto" class="control-label"></label>
                <input asp-for="ds_projeto" required class="form-control" />
                <span asp-validation-for="ds_projeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-sucesso mr-1" />
                <a asp-action="Index" class="btn btn-cancelar mr-1">Cancelar</a>
            </div>
        </form>
    </div>
</div>

